<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="1.css">
        <title>卡牌展示</title>
    </head>

    <body>
        <div class="hao">
            <image src="picture/预言家.jpeg" width="200" height="300"></image>
            <image src="picture/女巫.webp" width="200" height="300"></image>
            <image src="picture/猎人2.jpeg" width="200" height="300"></image>
            <image src="picture/守卫.png" width="200" height="300"></image>
            <image src="picture/白痴2.jpg" width="200" height="300"></image>
            <image src="picture/禁言长老.png" width="200" height="300"></image>
            <image src="picture/魔术师2.jpeg" width="200" height="300"></image>
            <image src="picture/奇迹商人.jpeg" width="200" height="300"></image>
            <image src="picture/骑士.jpeg" width="200" height="300"></image>
            <image src="picture/丘比特.jpeg" width="200" height="300"></image>
            <image src="picture/守墓人.jpeg" width="200" height="300"></image>
            <image src="picture/平民.jpeg" width="200" height="300"></image>
            <image src="picture/狼人.webp" width="200" height="300"></image>
            <image src="picture/狼王2.jpeg" width="200" height="300"></image>
            <image src="picture/白狼王2.jpeg" width="200" height="300"></image>
            <image src="picture/隐狼.jpeg" width="200" height="300"></image>
            <image src="picture/寂夜导师.webp" width="200" height="300"></image>
            <image src="picture/蚀时狼妃.jpg" width="200" height="300"></image>
        </div>
    </body>

</html>